.search-form {
  background-color: rgb(51, 17, 201);
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-btn {
  cursor: pointer;
  margin-left: -20px;
  border: none;
  border-radius: 5px;
}